.aboutus_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "bg bg desc desc"
    "bg bg desc desc"
    "bg bg desc desc";
  grid-gap: 0.2rem;
}

.bg_container {
  grid-area: bg;
  position: relative;
}

.aboutus_left {
  width: 80%;
  height: auto;
  position: absolute;
  top: 10px;
  left: 130px;
}

/* -----Right-Area--- */
.bg_aboutus {
  border-radius: 0px 0px 150px 0px;
  background: linear-gradient(#56804b 0%, #3b5b32 100%);
  border: 1px solid #707070;
  height: 90vh;
  width: 40vw;
}
.desc_container {
  background: white;
  grid-area: desc;
  display: flex;
  padding: 10rem 5rem;
  flex-direction: column;
  width: 85%;
}
.aboutus_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.aboutus_title > h2 {
  color: #3b5b32;
  font-weight: bold;
  border-bottom: solid #9aa840 2px;
}
.aboutus_title > img {
  height: 100%;
  width: 1.8rem;
  margin-right: 6px;
}

.desc_container > h3 {
  color: #9aa840;
  font-size: 1.4rem;
}
.desc_container > span {
  line-height: 2.5rem;
  color: #4b7141;
  font-size: 1.4rem;
}
.aboutus_title {
  margin-bottom: 1.5rem;
}
.desc_container > h3 {
  margin-top: 1.5rem;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) /*mobile*/ {
  .aboutus_container {
    background-color: #4a6f40;
    display: flex;
    flex-direction: column !important;
    background: #56804b;
    height: 112.4vh;
  }

  .bg_aboutus {
    background: none;
    width: 0vw;
  }
  .desc_container {
    width: 100% !important;
    padding: 1rem 1rem !important;
    position: absolute;
    top: 125rem;
    border: #56804b 4px solid;
  }

  .aboutus_left {
    width: 100% !important;
    position: absolute;
    left: 0px;
  }
}
