.aboutus_container {
  display: flex;
  flex-direction: row;
}
.aboutus_wrapper {
}
.aboutus_left {
  background-image: url("/aboutus_bg.png");
  background-repeat: no-repeat;
  background-size: 38rem;
  background-position: right;
  background-position-x: -5px;
  background-position-y: -50px;
}
.aboutus_left > img {
  height: 100%;
  width: 40rem;
}
.aboutus_right {
  color: #3b5b32;
  font-weight: bold;
  padding: 11rem 8rem;
}
.aboutus_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.aboutus_title > h2 {
  color: #3b5b32;
  font-weight: bold;
  border-bottom: solid #9aa840 2px;
}
.aboutus_title > img {
  height: 100%;
  width: 1.8rem;
  margin-right: 6px;
}

.aboutus_right > h3 {
  color: #9aa840;
  text-align: left;
}
.aboutus_right > span {
  line-height: 2rem;
}
.aboutus_title {
  margin-bottom: 1.5rem;
}
.aboutus_right > h3 {
  margin-top: 1.5rem;
  cursor: pointer;
}
