.footer_container {
  background-color: #3b5b32;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_logo {
  width: 10rem;
  cursor: pointer;
}

.footer_menu > ul {
  list-style-type: none;
}

.footer_menu,
.footer_email {
  display: flex;
  flex-direction: column;
}

.footer_menu > ul > li {
  margin-bottom: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.footer_email,
.footer_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}

.footer_adress-container {
  color: white;
}

.footer_email > img {
  width: 24px;
  height: 100%;
  margin-right: 10px;
}
.footer_phone > img {
  width: 24px;
  height: 100%;
  margin-right: 10px;
}
.footer_adress-container > img {
  width: 24px;
  height: 100%;
  margin-right: 10px;
}
.footer_adress {
  width: 15rem;
}
.footer_logo_container{
  width: 19rem;
display: flex;
flex-direction: column;
align-items: center;
}
.footer_logo_container>span, a{
  color: white;
}
@media (min-width: 320px) and (max-width: 480px) /*mobile*/ {
  .footer_container {
    padding: 1rem 1rem;
  }
  .footer_logo_container {
    display: none !important;
  }
  .footer_menu > ul > li {
    margin: 0rem 5rem 1.8rem 0rem;
  }
  .footer_menu > ul {
    font-size: 15px;
    width: max-content;
  }
  .footer_menu,
  .footer_email {
    width: 32vw;
  }
  .footer_email,
  .footer_phone {
    margin-bottom: 1rem;
  }
  .footer_contact {
    width: 55%;
  }
  .column_mobile {
    display: flex;
    flex-direction: column;
  }
}
