/* Grid CSS */
.hero_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "left left right right"
    "left left right right"
    "left left right right"
    "left left right right";
  grid-gap: 0.2rem;
  position: relative;
}
@media (min-width: 320px) and (max-width: 480px) /*mobile*/ {
  .right_container {
    background: auto;
  }
  .right_navbar {
    margin-top: 2.5rem;
    padding: 1rem 2rem !important;
  }
  .left_content {
    display: none !important;
  }
  .hero2 {
    width: 100% !important;
    height: 100% !important;
    margin-right: 2rem !important;
    margin-top: 5rem !important;
  }
  .left_content_formobile {
    position: absolute;
    top: 450px;
    left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .left_content_formobile > span {
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
    color: #3b5b32;
    text-align: center;
  }

  .left_content_formobile > a {
    border-radius: 0.6em;
    background: #9aa840;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: #fff;
    padding: 1em 2.5em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-top: 0.5rem;
  }
  .left_content > a {
    border-radius: 0.6em;
    background: #9aa840;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: #fff;
    padding: 1em 2.5em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-top: 0.5rem;
  }

  .hero1,
  .hero3 {
    display: none;
  }
  .right_container {
    background: none !important;
  }
  .left_container {
    background-color: none !important;
    background: none !important;
  }
  .left_content,
  .left_content_formobile > span {
    color: white !important;
  }
  .hero_container {
    background: linear-gradient(rgb(86, 128, 75) 0%, rgb(59, 91, 50) 100%);
  }
}

.pattern {
  position: absolute;
  left: -100px;
  top: 650px;
  width: 20rem;
  height: auto;
}
.margin-center {
  margin: 0 auto;
  width: 85%;
}
.left_container {
  grid-area: left;
}
.right_container {
  grid-area: right;
}

/* Left Container CSS */
.left_container {
  background-color: white;
}
.left_navbar {
  padding: 1rem 0;
  margin-bottom: 8rem;
}
.nav_logo,
.nav_logo_mobile {
  width: 8rem;
  height: auto;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1000px) /*mobile*/ {
  .nav_logo,
  .pattern {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .left_content > span {
    font-size: 2.5rem !important;
    line-height: 4rem !important;
  }
  .left_content > a {
    padding: 1rem 2rem !important;
  }

  .left_content > span {
    color: white;
  }
}

.left_content {
  display: flex;
  flex-direction: column;
}
.left_content > span {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 3rem;
  color: #3b5b32;
}
.left_content > a {
  border-radius: 0.6em;
  background: #9aa840;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  color: #fff;
  padding: 1em 2.5em;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin-top: 0.5rem;
}

/* Right Container CSS */
.right_container {
  width: auto;
  height: 90vh;
  border-radius: 0px 0px 0px 150px;
  background: linear-gradient(#56804b 0%, #3b5b32 100%);
}
.right_content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right_navbar {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.hero2 {
  width: 60%;
  height: 100%;
  margin-right: -12rem;
  margin-top: 1rem;
}

.hero1 {
  width: 20%;
  height: 100%;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.hero3 {
  height: 100%;
  width: 30%;
  margin-bottom: 1rem;
}
.menu_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.menu_nav > li {
  list-style-type: none;
  margin-right: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .menu_nav,
  .nav_logo {
    display: none;
  }
  .right_navbar {
    justify-content: end;
  }
}
@media (min-width: 1100px) /*desktop*/ {
  .menu__btn {
    display: none !important;
  }
  .left_content_formobile {
    display: none !important;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 90px;
  top: 90px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 60px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #ffffff;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  right: -100%;

  width: 300px;

  margin: 0;
  padding: 50px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #466a3c;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
