/* Grid CSS */
.hero_container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    "left left right right"
    "left left right right"
    "left left right right"
    "left left right right";
  grid-gap: 0.2rem;
  position: relative;
}
@media (min-width: 320px) and (max-width: 480px) /*mobile*/ {
  .right_container {
    background: auto;
  }
  .right_navbar {
    margin-top: 2.5rem;
    padding: 1rem 2rem !important;
  }
  .left_content {
    display: none !important;
  }
  .hero2 {
    width: 100% !important;
    height: 100% !important;
    margin-right: 2rem !important;
    margin-top: 5rem !important;
  }
  .left_content_formobile {
    position: absolute;
    top: 450px;
    left: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .left_content_formobile > span {
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
    color: #3b5b32;
    text-align: center;
  }

  .left_content_formobile > a {
    border-radius: 0.6em;
    background: #9aa840;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: #fff;
    padding: 1em 2.5em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-top: 0.5rem;
  }
  .left_content > a {
    border-radius: 0.6em;
    background: #9aa840;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: #fff;
    padding: 1em 2.5em;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    margin-top: 0.5rem;
  }

  .hero1,
  .hero3 {
    display: none;
  }
  .right_container {
    background: none !important;
  }
  .left_container {
    background-color: none !important;
    background: none !important;
  }
  .left_content,
  .left_content_formobile > span {
    color: white !important;
  }
  .hero_container {
    background: linear-gradient(rgb(86, 128, 75) 0%, rgb(59, 91, 50) 100%);
  }
}

.pattern {
  position: absolute;
  left: -100px;
  top: 650px;
  width: 20rem;
  height: auto;
}
.margin-center {
  margin: 0 auto;
  width: 85%;
}
.left_container {
  background: blue;
  grid-area: left;
}
.right_container {
  background: green;
  grid-area: right;
}

/* Left Container CSS */
.left_container {
  background-color: white;
}
.left_navbar {
  padding: 1rem 1rem;
  margin-bottom: 8rem;
}
.nav_logo,
.nav_logo_mobile {
  width: 8rem;
  height: auto;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1000px) /*mobile*/ {
  .nav_logo,
  .pattern {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .left_content > span {
    font-size: 2.5rem !important;
    line-height: 4rem !important;
  }
  .left_content > a {
    padding: 1rem 2rem !important;
  }

  .left_content > span {
    color: white;
  }
}

.left_content {
  display: flex;
  flex-direction: column;
}
.left_content > span {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 3rem;
  color: #3b5b32;
}
.left_content > a {
  border-radius: 0.6em;
  background: #9aa840;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  color: #fff;
  padding: 1em 2.5em;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin-top: 0.5rem;
}

/* Right Container CSS */
.right_container {
  width: auto;
  height: 90vh;
  border-radius: 0px 0px 0px 150px;
  background: linear-gradient(#56804b 0%, #3b5b32 100%);
}
.right_content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.right_navbar {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.hero2 {
  width: 60%;
  height: 100%;
  margin-right: -12rem;
  margin-top: 1rem;
}

.hero1 {
  width: 20%;
  height: 100%;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.hero3 {
  height: 100%;
  width: 30%;
  margin-bottom: 1rem;
}
.menu_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}
.menu_nav > li {
  list-style-type: none;
  margin-right: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .menu_nav,
  .nav_logo {
    display: none;
  }
  .right_navbar{
    justify-content:end;
  }
}
@media (min-width: 1100px) /*desktop*/ {
  .hamburger_menu {
    display: none !important;
  }
  .left_content_formobile {
    display: none !important;
  }
}

.hamburger_menu{
  animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
 }
  to {
    padding: 0;
 }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
 }
  to {
    padding: 0;
 }
}
#overlay-button {
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  content: "";
  transition: all 0.2s ease-in-out;
}
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #333332;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
  right: -2px;
  color: #4f7644;
  top: 100px;
}
input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
}
input[type=checkbox]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);
  opacity: 1;
}
input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}
#overlay {
  width: 50vw;
  background: white;
  z-index: 2;
  visibility: hidden;
  position: absolute;
}
#overlay.active {
  visibility: visible;
}
#overlay ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 1em;cursor: pointer;
}
#overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
#overlay ul li a:hover {
  color: #333332;
}
