.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
width: 85%;
margin: 0 auto;
}
.nav_logo {
  width: 6rem;
  height: auto;  cursor: pointer;

}
.nav_menu {
  display: flex;
  flex-direction: row;
}
.nav_menu > li {
  list-style-type: none;
  margin-right: 2rem;
  cursor: pointer;
  color: white;
}
