@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.otf") format("woff2"),
    url("/fonts/Poppins-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}
body {
  background-color: #ffffff;
  font-family: "Poppins";
  background-image: url("/hero_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 55vw 55vh;
}

@media (min-width: 320px) and (max-width: 480px) /*mobile*/ {
  body {
    background-size: 95vw 70vh !important;
  }
}

@media (min-width: 1281px) /*desktop*/ {
  body {
    background-size: 59vw 58vh !important;
  }
}

